<!doctype html>
<html>
  <head>
    <title>Simple Task Manager Api</title>
    <style type="text/css">
      body {
	font-family: Trebuchet MS, sans-serif;
	font-size: 15px;
	color: #444;
	margin-right: 24px;
}

h1	{
	font-size: 25px;
}
h2	{
	font-size: 20px;
}
h3	{
	font-size: 16px;
	font-weight: bold;
}
hr	{
	height: 1px;
	border: 0;
	color: #ddd;
	background-color: #ddd;
}

.app-desc {
  clear: both;
  margin-left: 20px;
}
.param-name {
  width: 100%;
}
.license-info {
  margin-left: 20px;
}

.license-url {
  margin-left: 20px;
}

.model {
  margin: 0 0 0px 20px;
}

.method {
  margin-left: 20px;
}

.method-notes	{
	margin: 10px 0 20px 0;
	font-size: 90%;
	color: #555;
}

pre {
  padding: 10px;
  margin-bottom: 2px;
}

.http-method {
 text-transform: uppercase;
}

pre.get {
  background-color: #0f6ab4;
}

pre.post {
  background-color: #10a54a;
}

pre.put {
  background-color: #c5862b;
}

pre.delete {
  background-color: #a41e22;
}

.huge	{
	color: #fff;
}

pre.example {
  background-color: #f3f3f3;
  padding: 10px;
  border: 1px solid #ddd;
}

code {
  white-space: pre;
}

.nickname {
  font-weight: bold;
}

.method-path {
  font-size: 1.5em;
  background-color: #0f6ab4;
}

.up {
  float:right;
}

.parameter {
  width: 500px;
}

.param {
  width: 500px;
  padding: 10px 0 0 20px;
  font-weight: bold;
}

.param-desc {
  width: 700px;
  padding: 0 0 0 20px;
  color: #777;
}

.param-type {
  font-style: italic;
}

.param-enum-header {
width: 700px;
padding: 0 0 0 60px;
color: #777;
font-weight: bold;
}

.param-enum {
width: 700px;
padding: 0 0 0 80px;
color: #777;
font-style: italic;
}

.field-label {
  padding: 0;
  margin: 0;
  clear: both;
}

.field-items	{
	padding: 0 0 15px 0;
	margin-bottom: 15px;
}

.return-type {
  clear: both;
  padding-bottom: 10px;
}

.param-header {
  font-weight: bold;
}

.method-tags {
  text-align: right;
}

.method-tag {
  background: none repeat scroll 0% 0% #24A600;
  border-radius: 3px;
  padding: 2px 10px;
  margin: 2px;
  color: #FFF;
  display: inline-block;
  text-decoration: none;
}

    </style>
  </head>
  <body>
  <h1>Simple Task Manager Api</h1>
    <div class="app-desc">This is a simple API created so a user can manage his task</div>
    <div class="app-desc">Version: 1.0.0</div>
    <div class="license-info">All rights reserved</div>
  <h2>Access</h2>

  <h2><a name="__Methods">Methods</a></h2>
  [ Jump to <a href="#__Models">Models</a> ]

  <h3>Table of Contents </h3>
  <div class="method-summary"></div>
  <h4><a href="#Rutas">Rutas</a></h4>
  <ul>
  <li><a href="#apiUserDeleteuserIdticketIdDelete"><code><span class="http-method">delete</span> /api/user/delete/:userId/:ticketId</code></a></li>
  <li><a href="#apiUserEdituserIdticketIdPut"><code><span class="http-method">put</span> /api/user/edit/:userId/:ticketId</code></a></li>
  <li><a href="#apiUseruserIdGet"><code><span class="http-method">get</span> /api/user/:userId</code></a></li>
  <li><a href="#apiUseruserIdNewTicketPut"><code><span class="http-method">put</span> /api/user/:userId/new-ticket</code></a></li>
  <li><a href="#apiUseruserIdRegisterPost"><code><span class="http-method">post</span> /api/user/:userId/register</code></a></li>
  </ul>

  <h1><a name="Rutas">Rutas</a></h1>
  <div class="method"><a name="apiUserDeleteuserIdticketIdDelete"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="delete"><code class="huge"><span class="http-method">delete</span> /api/user/delete/:userId/:ticketId</code></pre></div>
    <div class="method-summary">delete ticket (<span class="nickname">apiUserDeleteuserIdticketIdDelete</span>)</div>
    <div class="method-notes">Using the ticketId of a ticket to delete said ticket</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">ticket <a href="#Ticket">Ticket</a> (optional)</div>

      <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash; New ticket that a user creates </div>

    </div>  <!-- field-items -->





    <!--Todo: process Response Object and its headers, schema, examples -->


    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">201</h4>
    ticket deleted
        <a href="#"></a>
    <h4 class="field-label">400</h4>
    invalid input, object invalid
        <a href="#"></a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="apiUserEdituserIdticketIdPut"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /api/user/edit/:userId/:ticketId</code></pre></div>
    <div class="method-summary">edit ticket (<span class="nickname">apiUserEdituserIdticketIdPut</span>)</div>
    <div class="method-notes">Using the ticketId of a ticket to edit said ticket</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">ticket <a href="#Ticket">Ticket</a> (optional)</div>

      <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash; New ticket that a user creates </div>

    </div>  <!-- field-items -->





    <!--Todo: process Response Object and its headers, schema, examples -->


    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">201</h4>
    ticket deleted
        <a href="#"></a>
    <h4 class="field-label">400</h4>
    invalid input, object invalid
        <a href="#"></a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="apiUseruserIdGet"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="get"><code class="huge"><span class="http-method">get</span> /api/user/:userId</code></pre></div>
    <div class="method-summary">get's the user (<span class="nickname">apiUseruserIdGet</span>)</div>
    <div class="method-notes">By passing the id of the user you get the info related to that user</div>







    <h3 class="field-label">Return type</h3>
    <div class="return-type">
      array[<a href="#User">User</a>]
      
    </div>

    <!--Todo: process Response Object and its headers, schema, examples -->

    <h3 class="field-label">Example data</h3>
    <div class="example-data-content-type">Content-Type: application/json</div>
    <pre class="example"><code>{}</code></pre>


    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">200</h4>
    search results matching criteria
        
    <h4 class="field-label">400</h4>
    bad input parameter
        <a href="#"></a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="apiUseruserIdNewTicketPut"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="put"><code class="huge"><span class="http-method">put</span> /api/user/:userId/new-ticket</code></pre></div>
    <div class="method-summary">adds a new ticket to that user (<span class="nickname">apiUseruserIdNewTicketPut</span>)</div>
    <div class="method-notes">Adds an item to the system</div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">ticket <a href="#Ticket">Ticket</a> (optional)</div>

      <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash; New ticket that a user creates </div>

    </div>  <!-- field-items -->





    <!--Todo: process Response Object and its headers, schema, examples -->


    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">201</h4>
    ticket created
        <a href="#"></a>
    <h4 class="field-label">400</h4>
    invalid input, object invalid
        <a href="#"></a>
    <h4 class="field-label">409</h4>
    an existing item already exists
        <a href="#"></a>
  </div> <!-- method -->
  <hr/>
  <div class="method"><a name="apiUseruserIdRegisterPost"/>
    <div class="method-path">
    <a class="up" href="#__Methods">Up</a>
    <pre class="post"><code class="huge"><span class="http-method">post</span> /api/user/:userId/register</code></pre></div>
    <div class="method-summary">adds a new user (<span class="nickname">apiUseruserIdRegisterPost</span>)</div>
    <div class="method-notes"></div>


    <h3 class="field-label">Consumes</h3>
    This API call consumes the following media types via the <span class="header">Content-Type</span> request header:
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Request body</h3>
    <div class="field-items">
      <div class="param">user <a href="#User">User</a> (optional)</div>

      <div class="param-desc"><span class="param-type">Body Parameter</span> &mdash; New user that registers </div>

    </div>  <!-- field-items -->





    <!--Todo: process Response Object and its headers, schema, examples -->


    <h3 class="field-label">Produces</h3>
    This API call produces the following media types according to the <span class="header">Accept</span> request header;
    the media type will be conveyed by the <span class="header">Content-Type</span> response header.
    <ul>
      <li><code>application/json</code></li>
    </ul>

    <h3 class="field-label">Responses</h3>
    <h4 class="field-label">201</h4>
    User Register
        <a href="#"></a>
    <h4 class="field-label">400</h4>
    invalid input, object invalid
        <a href="#"></a>
    <h4 class="field-label">409</h4>
    an existing item already exists
        <a href="#"></a>
  </div> <!-- method -->
  <hr/>

  <h2><a name="__Models">Models</a></h2>
  [ Jump to <a href="#__Methods">Methods</a> ]

  <h3>Table of Contents</h3>
  <ol>
    <li><a href="#Ticket"><code>Ticket</code> - </a></li>
    <li><a href="#User"><code>User</code> - </a></li>
  </ol>

  <div class="model">
    <h3><a name="Ticket"><code>Ticket</code> - </a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'></div>
    <div class="field-items">
      <div class="param">title (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: First ticket</span></div>
<div class="param">description (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Start managing your task</span></div>
<div class="param">status (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Doing</span></div>
    </div>  <!-- field-items -->
  </div>
  <div class="model">
    <h3><a name="User"><code>User</code> - </a> <a class="up" href="#__Models">Up</a></h3>
    <div class='model-description'></div>
    <div class="field-items">
      <div class="param">name (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Yowil</span></div>
<div class="param">last_name (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: Amezquita</span></div>
<div class="param">password (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: really secure password</span></div>
<div class="param">email (optional)</div><div class="param-desc"><span class="param-type"><a href="#string">String</a></span>  </div>
          <div class="param-desc"><span class="param-type">example: First ticket</span></div>
<div class="param">signUpDate (optional)</div><div class="param-desc"><span class="param-type"><a href="#DateTime">Date</a></span>  format: date-time</div>
          <div class="param-desc"><span class="param-type">example: 2022-07-04T13:00:31.576Z</span></div>
<div class="param">ticket (optional)</div><div class="param-desc"><span class="param-type"><a href="#Ticket">Ticket</a></span>  </div>
    </div>  <!-- field-items -->
  </div>
  </body>
</html>
