<nav >
    <div >
      <a  href="/">HomePage</a>
      
      <button  type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span ></span>
      </button>
      
      <div  id="navbarSupportedContent">
        <ul >
          <li >
            <a  aria-current="page" href="/login">Login</a>
          </li>
          <li >
            <a aria-current="page" href="/mascotas/newtask">Create New Task</a>
          </li>
          <li >
            <a  href="/services">Services</a>
          </li>
        </ul>
        </form>
      </div>
    </div>
  </nav>